In [69]:
 # ----------- Overhead -------------

import pandas as pd
import numpy as np
# import scipy.stat as sps
import matplotlib.pyplot as plt
import seaborn as sns
# from pandas import ExcelWriter

df = pd.read_csv('NY property csv.csv')

In [70]:
# --------------- Fill in NAs and 0s ----------

# Create new variable BORO
df['BORO'] = ''
df['BORO'] = df.BBLE.str[0]

# ZIP, sort by BBLE and forward fill
df = df.sort_values(by = ['BBLE'])
df['ZIP'].fillna(method='ffill',inplace = True)

# Create ZIP3
df['ZIP3']= df["ZIP"].apply(lambda x: int(str(x)[0:3]))


df['ll_rate'] = df['LTFRONT']/df['LTDEPTH']
mean_llrate = np.mean(df['ll_rate'].dropna())
df['LTFRONT'] = df['LTFRONT'].fillna(value = (df['LTDEPTH'] * mean_llrate))
df['LTFRONT'] = df['LTDEPTH'].fillna(value = (df['LTFRONT'] / mean_llrate))
np.std(df['LTFRONT'])
# std = 73.7 without group
# two methods to set 0 values as missing values
df.loc[df['LTFRONT'] == 0, 'LTFRONT'] = np.nan
# df['LTFRONT'] = df['LTFRONT'].replace(0,np.nan)

# fill NA with average values grouped by BORO (if using TAXCLASS as well, 
# the filled values will be too big and there will be 2 missing values)
df['LTFRONT'] = df.groupby(['BORO','TAXCLASS'])['LTFRONT'].transform(lambda x: x.fillna(x.mean()))
df['LTFRONT'] = df.groupby(['TAXCLASS'])['LTFRONT'].transform(lambda x: x.fillna(x.mean()))


df.loc[df['LTDEPTH'] == 0, 'LTDEPTH'] = np.nan
df['LTDEPTH'] = df.groupby(['BORO','TAXCLASS'])['LTDEPTH'].transform(lambda x: x.fillna(x.mean()))
df['LTDEPTH'] = df.groupby(['TAXCLASS'])['LTDEPTH'].transform(lambda x: x.fillna(x.mean()))

# np.isnan(df['LTDEPTH']).sum()

# Calculate BLDFRONT/BLDDEPTH ratio
df.loc[df['BLDFRONT'] == 0, 'BLDFRONT'] = np.nan
df.loc[df['BLDDEPTH'] == 0, 'BLDDEPTH'] = np.nan

df['bb_rate'] = df['BLDFRONT']/df['BLDDEPTH']
# distribution of the ratio
# sns.distplot(df['BLDFRONT']/df['BLDDEPTH'].dropna(), bins = 1000,kde=False)
# plt.xlim(0,2)

median_bbrate = np.median(df['bb_rate'].dropna())
df['BLDFRONT'] = df['BLDFRONT'].fillna(value = (df['BLDDEPTH'] * median_bbrate))
df['BLDDEPTH'] = df['BLDDEPTH'].fillna(value = (df['BLDFRONT'] / median_bbrate))


# For BLDFRONT and BLDDEPTH, if group by both BORO and TAXCLASS, there will appear NaN as well.
df['BLDFRONT'] = df.groupby(['BORO','TAXCLASS'])['BLDFRONT'].transform(lambda x: x.fillna(x.mean()))
df['BLDFRONT'] = df.groupby(['TAXCLASS'])['BLDFRONT'].transform(lambda x: x.fillna(x.mean()))

# np.isnan(df['BLDFRONT']).sum()
df['BLDDEPTH'] = df.groupby(['BORO','TAXCLASS'])['BLDDEPTH'].transform(lambda x: x.fillna(x.mean()))
df['BLDDEPTH'] = df.groupby(['TAXCLASS'])['BLDDEPTH'].transform(lambda x: x.fillna(x.mean()))

np.isnan(df['BLDFRONT']).sum()
np.isnan(df['BLDDEPTH']).sum()

df['STORIES'] = df.groupby(['ZIP','TAXCLASS'])['STORIES'].transform(lambda x: x.fillna(x.mean()))
df['STORIES'] = df.groupby(['TAXCLASS'])['STORIES'].transform(lambda x: x.fillna(x.mean()))

# np.isnan(df['STORIES']).sum()

# building volume and bins accordingly
df['bldvol'] = df['BLDFRONT'] * df['BLDDEPTH'] * df['STORIES']

df['bldvol_bin'] = pd.qcut(df['bldvol'], 100, labels = False, duplicates = 'drop')

# FULLVAL
df.loc[df['FULLVAL'] == 0, 'FULLVAL'] = np.nan

# df['FULLVAL']
df['FULLVAL'] = df.groupby(['BORO','bldvol_bin'])['FULLVAL'].transform(lambda x: x.fillna(x.mean()))
# np.isnan(df['FULLVAL']).sum()


# AVLAND
df.loc[df['AVLAND'] == 0, 'AVLAND'] = np.nan
df['AVLAND'] = df.groupby(['BORO','bldvol_bin'])['AVLAND'].transform(lambda x: x.fillna(x.mean()))
# np.isnan(df['AVLAND']).sum()


# AVTOT
df.loc[df['AVTOT'] == 0, 'AVTOT'] = np.nan
df['AVTOT'] = df.groupby(['BORO','bldvol_bin'])['AVTOT'].transform(lambda x: x.fillna(x.mean()))
# np.isnan(df['AVTOT']).sum()

In [71]:
## Build 3 sizes
## Build LotArea, Building Area, Building Volume
df['lotarea'] = df['LTDEPTH'] * df['LTFRONT']
df['bldarea'] = df['BLDFRONT'] * df['BLDDEPTH']
df['bldvol'] = df['bldarea'] * df['STORIES']

## Build 9 values
## FV = FULLVAL, AL = AVLAND, AT = AVTOT
## LA = LOTAREA, BA = BLDAREA, BV = BLDVOL
df['fv_la'] = df['FULLVAL'] / df['lotarea']
df['fv_ba'] = df['FULLVAL'] / df['bldarea']
df['fv_bv'] = df['FULLVAL'] / df['bldvol']
df['al_la'] = df['AVLAND'] / df['lotarea']
df['al_ba'] = df['AVLAND'] / df['bldarea']
df['al_bv'] = df['AVLAND'] / df['bldvol']
df['at_la'] = df['AVTOT'] / df['lotarea']
df['at_ba'] = df['AVTOT'] / df['bldarea']
df['at_bv'] = df['AVTOT'] / df['bldvol']

## Build 45 Group by values

In [72]:
ninevars = ['fv_la','fv_ba','fv_bv','al_la','al_ba','al_bv','at_la','at_ba','at_bv']
df = df.join(df.groupby(['ZIP'])[ninevars].mean(), on='ZIP', rsuffix='_zip')
df = df.join(df.groupby(['ZIP3'])[ninevars].mean(), on='ZIP3', rsuffix='_zip3')
df = df.join(df.groupby(['TAXCLASS'])[ninevars].mean(), on='TAXCLASS', rsuffix='_taxclass')
df = df.join(df.groupby(['BORO'])[ninevars].mean(), on='BORO', rsuffix='_boro')

In [73]:
df

,RECORD,BBLE,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,...,at_bv_taxclass,fv_la_boro,fv_ba_boro,fv_bv_boro,al_la_boro,al_ba_boro,al_bv_boro,at_la_boro,at_ba_boro,at_bv_boro
469969,469970,1000010010,1,10,NaN,UNITED STATES OF AMER,Y4,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
421794,421795,1000010101,1,101,NaN,U S GOVT LAND & BLDGS,P7,4,1046.000000,1046.000000,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
1043052,1043053,1000010201,1,201,NaN,U S GOVT LAND & BLDGS,Z9,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
194543,194544,1000020001,2,1,NaN,DEPT OF GENERAL SERVI,Y7,4,564.000000,564.000000,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
293006,293007,1000020023,2,23,NaN,DEPARTMENT OF BUSINES,T2,4,551.000000,551.000000,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
1014618,1014619,1000030001,3,1,NaN,PARKS AND RECREATION,Q1,4,1260.000000,1260.000000,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
751093,751094,1000030002,3,2,NaN,PARKS AND RECREATION,Q1,4,76.000000,76.000000,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
540396,540397,1000030003,3,3,NaN,PARKS AND RECREATION,Q1,4,370.000000,370.000000,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
348018,348019,1000030010,3,10,NaN,DEPT RE-CITY OF NY,Z9,4,177.000000,177.000000,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
906021,906022,1000041001,4,1001,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
789043,789044,1000041002,4,1002,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
807022,807023,1000041003,4,1003,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
476077,476078,1000041004,4,1004,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
803435,803436,1000041005,4,1005,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
167158,167159,1000041006,4,1006,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
898292,898293,1000041007,4,1007,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
330301,330302,1000041008,4,1008,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
811528,811529,1000041009,4,1009,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
979140,979141,1000041010,4,1010,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
772733,772734,1000041011,4,1011,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
467365,467366,1000041012,4,1012,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
270578,270579,1000041013,4,1013,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
274825,274826,1000041014,4,1014,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
398527,398528,1000041015,4,1015,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
444235,444236,1000041016,4,1016,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
990598,990599,1000041017,4,1017,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
96575,96576,1000041018,4,1018,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
125401,125402,1000041019,4,1019,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
559097,559098,1000041020,4,1020,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
1035897,1035898,1000041021,4,1021,NaN,"TRZ HOLDINGS, LLC",R5,4,124.801906,124.801906,...,125.201719,310.783442,547.985539,143.058406,68.297475,63.09981,23.102126,119.771073,142.033117,35.730782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406226,406227,5060270001,6027,1,NaN,HUGUENOT VILLAGE,V0,1B,410.000000,410.000000,...,1.725218,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
461389,461390,5060270002,6027,2,NaN,PROJECT HOSPITALITY I,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
920230,920231,5060270003,6027,3,NaN,PROJECT HOSPITALITY,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
15624,15625,5060270004,6027,4,NaN,MICHAEL T CAPUTO,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
1021354,1021355,5060270005,6027,5,NaN,ANNE VIGGIANO,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
377180,377181,5060270006,6027,6,NaN,CATHY MIRANDA,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
408379,408380,5060270007,6027,7,NaN,HUGUENOT VILLAGE HOA,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
529962,529963,5060270008,6027,8,NaN,RUTH RUSSELL,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
872942,872943,5060270009,6027,9,NaN,RAMIZ HUSEINOVIC,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
1003156,1003157,5060270010,6027,10,NaN,KOESEL JOSEPH,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
77704,77705,5060270011,6027,11,NaN,LINDA BATTCOCK,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
668946,668947,5060270012,6027,12,NaN,HUGUENOT VILLAGE HOA,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
829937,829938,5060270013,6027,13,NaN,LORRETTA CRUCI,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
376103,376104,5060270014,6027,14,NaN,"WEIGOLD, JAMES T",A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
564832,564833,5060270015,6027,15,NaN,"ALEMAN, JENNY",A5,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
525828,525829,5060270016,6027,16,NaN,"DJUKANOVIC, ERMIN",A5,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
73756,73757,5060270017,6027,17,NaN,SPEARS PASCOE CLAUDIA,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
382114,382115,5060270018,6027,18,NaN,LENITA SCHAEFER,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
317873,317874,5060270019,6027,19,NaN,"LUCILE BLASI, AS TRUS",A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
618477,618478,5060270020,6027,20,NaN,"COHEN, PHYLLIS",A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
127618,127619,5060270021,6027,21,NaN,DAMBROSIO DENISE A,A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
385652,385653,5060270022,6027,22,NaN,"YOUNGBLOOD, GWENDOLYN",A9,1,40.000000,40.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
727633,727634,5060270023,6027,23,NaN,SANDRA THURLING,A9,1,70.000000,70.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
603739,603740,5060270024,6027,24,NaN,"TERMINATO, CHARLES",A9,1,70.000000,70.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
205892,205893,5060270025,6027,25,NaN,BARBARA MERSEREAU,A9,1,70.000000,70.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
727442,727443,5060270026,6027,26,NaN,HASAN DJUKANOVIC,A9,1,70.000000,70.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
440491,440492,5060270027,6027,27,NaN,GRACE G BUONO,A9,1,70.000000,70.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
1031812,1031813,5060270028,6027,28,NaN,WALTER ACIERTO,A5,1,70.000000,70.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
819266,819267,5060270029,6027,29,NaN,RICHARD P. DEVLIN,A5,1,70.000000,70.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731
988038,988039,5060270030,6027,30,NaN,LLERENA ROCIO A,A5,1,70.000000,70.000000,...,15.044798,74.205552,496.622661,268.081352,8.766374,28.59148,14.939049,11.133565,43.467270,22.548731