In [351]:
import pandas as pd
import numpy as np
# import scipy.stat as sps
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import ExcelWriter

In [352]:
%%time
df = pd.read_excel('card transactions.xlsx')

Wall time: 11.2 s

In [353]:
# summary
numrecords = len(df)
stat_df = pd.DataFrame(df.isnull().sum(axis = 0))
stat_df = stat_df.reset_index().rename(columns = {'index':'variable', 0 :"# NaN"})
stat_df["% populated"] = (1 - stat_df["# NaN"]/numrecords)*100
stat_df["# unique"] = ''

for i in range(len(list(df))):
    stat_df["# unique"][i] = df[list(df)[i]].nunique()
    
stat_df

C:\Users\beizh\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

            variable  # NaN  % populated # unique
0             Recnum      0   100.000000    96753
1            Cardnum      0   100.000000     1645
2               Date      0   100.000000      365
3           Merchnum   3375    96.511736    13091
4  Merch description      0   100.000000    13126
5        Merch state   1195    98.764896      227
6          Merch zip   4656    95.187746     4567
7          Transtype      0   100.000000        4
8             Amount      0   100.000000    34909
9              Fraud      0   100.000000        2

In [354]:
df.head(10)

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
5,6,5142149874,2010-01-01,5509006296254,FEDEX SHP 12/22/09 AB#,TN,38118.0,P,3.67,0
6,7,5142189277,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0
7,8,5142191182,2010-01-01,6098208200062,MIAMI COMPUTER SUPPLY,OH,45429.0,P,230.32,0
8,9,5142258629,2010-01-01,602608969534,FISHER SCI ATL,GA,30091.0,P,62.11,0
9,10,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0

In [355]:
##Identify any exclusions, bad records

# Remove single large transaction outlier

# Remove all but P transaction type
df = df[df['Transtype'] == 'P']

In [356]:
# --------------- Fill in NAs ----------

### Merchnum 
# Transform 0 values into NA
df.loc[df['Merchnum'] == '0', 'Merchnum'] = np.NaN

# fill most frequenct merchnum using merch description
dict1 = df.set_index('Merch description')['Merchnum'].to_dict()
df['Merchnum'].fillna(df['Merch description'].map(dict1), inplace = True)

# fill most frequenct merchnum in this zip
dict1 = dict(zip(df['Merch zip'].dropna(), df['Merchnum']))
df['Merchnum'].fillna(df['Merch zip'].map(dict1), inplace = True)

pd.isnull(df['Merchnum']).sum()

1416

In [357]:
### Merch state and zip
numrecords - (df['Merch state'].isna() == df['Merch zip'].isna()).sum()

3809

In [359]:
### Merch zip
# df.groupby(['Merch description','Merch zip']).size()

# fill NA in Merch zip using Merch description
dict1 = df.set_index('Merch description')['Merch zip'].to_dict()
df['Merch zip'].fillna(df['Merch description'].map(dict1), inplace = True)

# fill NA in Merch zip using Merchnum
dict1 = df.set_index('Merchnum')['Merch zip'].to_dict()
df['Merch zip'].fillna(df['Merchnum'].map(dict1), inplace = True)

# fill NA in Merch zip using Cardnum
dict1 = df.set_index('Cardnum')['Merch zip'].to_dict()
df['Merch zip'].fillna(df['Cardnum'].map(dict1), inplace = True)
# It will automatically choose zip with highest frequency

pd.isnull(df['Merch zip']).sum()

413

In [360]:
dic = dict(zip(df['Cardnum'], df['Merch zip']))
dic[5142310525]

60108.0

In [361]:
### Merch state
# df.groupby(['Merch description','Merch state']).size()
# Each Merch description has one matched state

# fill NA in Merch state using Merch description
dict1 = df.set_index('Merch description')['Merch state'].to_dict()
df['Merch state'].fillna(df['Merch description'].map(dict1), inplace = True)

# fill NA in Merch state using Merchnum
dict1 = df.set_index('Merchnum')['Merch state'].to_dict()
df['Merch state'].fillna(df['Merchnum'].map(dict1), inplace = True)

# fill NA in Merch state using Merch zip

dict1 = dict(zip(df['Merch zip'].dropna(), df['Merch state']))
df['Merch state'].fillna(df['Merch zip'].map(dict1), inplace = True)

# fill NA in Merch state using Cardnum
dict1 = df.set_index('Cardnum')['Merch state'].to_dict()
df['Merch state'].fillna(df['Cardnum'].map(dict1), inplace = True)

pd.isnull(df['Merch state']).sum()

69

In [362]:
# Drop remained NA in three variables
df = df.dropna()

In [373]:
# df.groupby(['Cardnum','Date'])['Amount'].value_counts()
df[df['Cardnum'] == 5142190439]

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
9,10,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
11,12,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
20,21,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/22/09 AB#,TN,38118.0,P,3.62,0
21,22,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
22,23,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/22/09 AB#,TN,38118.0,P,3.67,0
27,28,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
33,34,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
39,40,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
47,48,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
126,127,5142190439,2010-01-03,5509006296254,FEDEX SHP 12/21/09 AB#,TN,38118.0,P,3.67,0
387,388,5142190439,2010-01-04,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0
421,422,5142190439,2010-01-04,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,4.37,0
729,730,5142190439,2010-01-05,5509006296254,FEDEX SHP 12/29/09 AB#,TN,38118.0,P,3.67,0
856,857,5142190439,2010-01-06,08-0963129334,THE LIGHTHOUSE,WA,98144.0,P,16.50,0
2809,2810,5142190439,2010-01-13,5509006296254,FEDEX SHP 01/06/10 AB#,TN,38118.0,P,3.62,0
3015,3016,5142190439,2010-01-14,4503072311300,COMPUSA #220 M/O,TX,75247.0,P,142.59,0
3643,3644,5142190439,2010-01-17,5509006296254,FEDEX SHP 01/11/10 AB#,TN,38118.0,P,3.67,0
3980,3981,5142190439,2010-01-19,990903824,SOFTWARE SPECTRUM,TX,75041.0,P,433.28,0
4206,4207,5142190439,2010-01-20,4503082460700,OFFICE DEPOT #882,NV,89121.0,P,24.98,0
4739,4740,5142190439,2010-01-21,5569000000909,FEDERAL EXPRESS INC #2,TN,38118.0,P,36.20,0
5212,5213,5142190439,2010-01-24,2365000737381,FED EMP NEWS DIGEST,VA,20191.0,P,14.90,0
5309,5310,5142190439,2010-01-25,5509006296254,FEDEX SHP 01/19/10 AB#,TN,38118.0,P,3.67,0
5592,5593,5142190439,2010-01-25,5509006296254,FEDEX SHP 01/19/10 AB#,TN,38118.0,P,3.67,0
6063,6064,5142190439,2010-01-27,5484000686701,A & B LOCK & KEY,NV,89102.0,P,3.90,0
6125,6126,5142190439,2010-01-27,5509006296254,FEDEX SHP 01/20/10 AB#,TN,38118.0,P,3.67,0
6917,6918,5142190439,2010-02-01,5509006296254,FEDEX SHP 01/26/10 AB#,TN,38118.0,P,3.67,0
6967,6968,5142190439,2010-02-01,5509006296254,FEDEX SHP 01/26/10 AB#,TN,38118.0,P,3.74,0
6988,6989,5142190439,2010-02-01,5509006296254,FEDEX SHP 01/26/10 AB#,TN,38118.0,P,3.67,0
...,...,...,...,...,...,...,...,...,...,...
77098,77099,5142190439,2010-09-25,930090121224,FEDEX SHP 09/19/10 AB#,TN,38118.0,P,3.62,0
77740,77741,5142190439,2010-09-27,308544990334,ANDERSON COMPUTER SYSTEM,NV,89104.0,P,100.00,0
77900,77901,5142190439,2010-09-27,456612926336,XIRCOM FULFILLMENT,NY,14534.0,P,67.50,0
78656,78657,5142190439,2010-09-29,4574100694444,DELL MARKETING L.P.,TX,78682.0,P,455.15,0
78830,78831,5142190439,2010-09-29,9918000409955,MWI*MICRO WAREHOUSE,NJ,8701.0,P,850.74,0
79368,79369,5142190439,2010-10-01,7593980000041,VBXTRAS,GA,30339.0,P,198.00,0
80821,80822,5142190439,2010-10-09,9962000419900,PCS*COMP USA DIRECT,MA,1752.0,P,322.80,0
81148,81149,5142190439,2010-10-13,08-0963129334,THE LIGHTHOUSE,WA,98144.0,P,10.90,0
82509,82510,5142190439,2010-10-21,8717000060069,NATIONAL URBAN LEAGUE,NY,10005.0,P,145.00,0
86526,86527,5142190439,2010-11-10,8678000448258,OAG*BUSINESS TRVL PLNR,CO,80306.0,P,149.00,0
88195,88196,5142190439,2010-11-19,35068823334,"KINKO'S,INC #1301",NV,89119.0,P,24.00,0
91213,91214,5142190439,2010-12-06,5961040609114,USDA GRADUATE SCHOOL,DC,20250.0,P,192.00,0
91684,91685,5142190439,2010-12-08,4591206853306,DELL MARKETING L.P.,TX,78682.0,P,305.15,0
92043,92044,5142190439,2010-12-09,4503082460700,OFFICE DEPOT #882,NV,89121.0,P,179.98,0
93729,93730,5142190439,2010-12-15,4591206850006,DELL MARKETING L.P.,TX,78682.0,P,305.15,0
94393,94394,5142190439,2010-12-17,9662801005116,HOLMANS OF NEVADA INC,NV,89103.0,P,333.00,0
94499,94500,5142190439,2010-12-18,5509006296254,FEDEX SHP 12/13/10 AB#,TN,38118.0,P,3.62,0
94500,94501,5142190439,2010-12-18,5509006296254,FEDEX SHP 12/13/10 AB#,TN,38118.0,P,3.62,0
94503,94504,5142190439,2010-12-18,5509006296254,FEDEX SHP 12/13/10 AB#,TN,38118.0,P,3.62,0
94514,94515,5142190439,2010-12-18,5509006296254,FEDEX SHP 12/13/10 AB#,TN,38118.0,P,3.62,0
94520,94521,5142190439,2010-12-18,5509006296254,FEDEX SHP 12/13/10 AB#,TN,38118.0,P,3.62,0
94533,94534,5142190439,2010-12-18,5509006296254,FEDEX SHP 12/13/10 AB#,TN,38118.0,P,3.62,0
94536,94537,5142190439,2010-12-18,5509006296254,FEDEX SHP 12/13/10 AB#,TN,38118.0,P,3.62,0
94546,94547,5142190439,2010-12-18,5509006296254,FEDEX SHP 12/13/10 AB#,TN,38118.0,P,3.62,0
94565,94566,5142190439,2010-12-18,5509006296254,FEDEX SHP 12/13/10 AB#,TN,38118.0,P,3.62,0
94713,94714,5142190439,2010-12-20,4800000684699,RADIO SHACK 00134122,NV,89119.0,P,69.99,0
94847,94848,5142190439,2010-12-20,4503082318500,OFFICE DEPOT #927,NV,89109.0,P,89.99,0
95197,95198,5142190439,2010-12-22,5509006296254,FEDEX SHP 12/16/10 AB#,TN,38118.0,P,3.62,0
96065,96066,5142190439,2010-12-28,9662801008669,TONER CARTRIDGES OF NV,NV,89146.0,P,258.00,0
96731,96732,5142190439,2010-12-31,7509000781541,MZI*PC ZONE MAC ZONE,WA,98055.0,P,47.05,0

In [429]:
# --------------- Create variables ----------
### Amount expert variables
df2 = df.set_index('Date')
# Cardnum
# a = df2.groupby(['Cardnum']).rolling(window = '1D')['Amount'].mean().groupby(['Cardnum','Date']).mean().reset_index(['Cardnum','Date'])
# a = 
df2.groupby(['Cardnum','Date'])['Amount'].sum()
# .rolling(window = '0D').mean().reset_index(['Cardnum','Date'])

# df.join(a,on = ['Cardnum','Date'],rsuffix='_cardnum_1d_avg',how = 'left')
# a[a['Cardnum'] == 5142190439]


# data_range = lambda x: x.max() - x.min()
# ts.groupby(key).transform(data_range)

Cardnum     Date
5142110081  2010-11-26     636.20
            2010-12-27     495.90
5142110402  2010-01-19     506.50
            2010-01-31      20.81
            2010-02-03      30.26
            2010-02-04     491.76
5142110434  2010-10-06    1551.64
5142110749  2010-04-19      62.94
            2010-06-13     794.85
5142110909  2010-01-17     351.24
            2010-01-20      64.40
            2010-02-09     301.79
            2010-03-21     128.00
            2010-03-22     857.87
            2010-04-05     435.47
            2010-04-12     191.65
            2010-04-13     809.45
            2010-05-18     159.60
            2010-06-12     288.00
            2010-07-07    1535.40
            2010-07-12      51.75
            2010-12-20     107.76
            2010-12-27     692.25
            2010-12-30     354.94
5142111097  2010-02-02      56.98
            2010-03-02      83.80
            2010-03-13      64.00
            2010-04-19      17.43
            2010-06-27     149.43
            2010-10-18      29.99
                           ...
5142847398  2010-01-29     168.63
            2010-01-31     101.02
            2010-02-03     803.21
            2010-02-04     126.48
            2010-02-06     761.66
            2010-02-09      53.64
            2010-02-10     652.97
            2010-02-11     668.75
            2010-02-14     144.01
            2010-02-17     905.78
            2010-02-18       0.22
            2010-02-21     365.38
            2010-02-22     589.20
            2010-02-25     607.18
            2010-02-26     758.01
            2010-02-27     875.74
            2010-03-02     314.50
            2010-03-03     261.20
            2010-03-07     347.94
            2010-03-08     855.61
            2010-03-11     465.50
            2010-03-12     825.09
            2010-03-14     595.59
            2010-03-17      46.27
            2010-03-18      75.53
            2010-03-21     199.14
            2010-03-22      78.23
            2010-03-24     440.06
            2010-03-28     288.82
            2010-03-29     736.55
Name: Amount, Length: 61095, dtype: float64

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(df)? (<ipython-input-343-212e9880de12>, line 4)